In [ ]:
from utils import *

:

In [ ]:
from azureml.core import Workspace, Experiment
ws = Workspace.from_config()
exp = Experiment(workspace=ws, name='access_data_from_dataset')

In [ ]:
from azureml.core import Dataset

path ='https://dprepdata.blob.core.windows.net/demo/Titanic.csv'
ds = Dataset.Tabular.from_delimited_files(path)
print(ds.to_pandas_dataframe().head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500  None        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250  None        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  None        S

In [ ]:
ds.to_pandas_dataframe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [ ]:
from azureml.core import ScriptRunConfig

src = ScriptRunConfig(source_directory="code",
                      script='access_data_from_dataset.py',
                      arguments=['--input', ds.as_named_input('titanic')],
                      environment=get_current_env())

# Submit the run configuration for your training run
run = exp.submit(src)
run.wait_for_completion(show_output=True)

RunId: access_data_from_dataset_1630237734_d580e465
Web View: https://ml.azure.com/runs/access_data_from_dataset_1630237734_d580e465?wsid=/subscriptions/21dc412b-d9eb-42e7-8317-55bc8eb10cf5/resourcegroups/packt/workspaces/mldemows&tid=e702ab66-1ac1-42ba-b41b-8195d943a1e0

Streaming azureml-logs/60_control_log.txt
=========================================

[2021-08-29T11:48:56.266435] Using urllib.request Python 3.0 or later
Streaming log file azureml-logs/60_control_log.txt
Running: ['/bin/bash', '/private/var/folders/dq/w2q25sxj32l_4y56t759w42r0000gn/T/azureml_runs/access_data_from_dataset_1630237734_d580e465/azureml-environment-setup/conda_env_checker.sh']
Starting the daemon thread to refresh tokens in background for process with pid = 12357


Running: ['python', 'azureml-setup/run_script.py', 'python', 'azureml-setup/context_manager_injector.py', '-i', 'ProjectPythonPath:context_managers.ProjectPythonPath', '-i', 'RunHistory:context_managers.RunHistory', '-i', 'TrackUserError:context_managers.TrackUserError', 'access_data_from_dataset.py', '--input', '04f8ad60-5a51-4319-92fe-cdfa7f6c9adc']
[2021-08-29T11:48:56.377502] Logging experiment running status in history service.
Streaming log file azureml-logs/70_driver_log.txt

Streaming azureml-logs/70_driver_log.txt
========================================

[2021-08-29T11:48:56.786364] Entering context manager injector.
[2021-08-29T11:48:57.360343] context_manager_injector.py Command line Options: Namespace(inject=['ProjectPythonPath:context_managers.ProjectPythonPath', 'RunHistory:context_managers.RunHistory', 'TrackUserError:context_managers.TrackUserError'], invocation=['access_data_from_dataset.py', '--input', '04f8ad60-5a51-4319-92fe-cdfa7f6c9adc'])
Script type = None
[2021-08-29T11:48:57.363171] Entering Run History Context Manager.
[2021-08-29T11:48:58.103351] Current directory: /private/var/folders/dq/w2q25sxj32l_4y56t759w42r0000gn/T/azureml_runs/access_data_from_dataset_1630237734_d580e465
[2021-08-29T11:48:58.103517] Preparing to call script [access_data_from_dataset.py] with arguments:['--input', '04f8ad60-5a51-4319-92fe-cdfa7f6c9adc']
[2021-08-29T11:48:58.103903] After variable expansion, calling script [access_data_from_dataset.py] with arguments:['--input', '04f8ad60-5a51-4319-92fe-cdfa7f6c9adc']

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500  None         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250  None         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500  None         S

[5 rows x 12 columns]


[2021-08-29T11:49:06.488043] The experiment completed successfully. Finalizing run...
[2021-08-29T11:49:06.493679] Start FinalizingInRunHistory
[2021-08-29T11:49:06.495718] Logging experiment finalizing status in history service.
Starting the daemon thread to refresh tokens in background for process with pid = 12364